# Handle board configuration

if SHIELD_SWEEPMX_LEFT

config ZMK_KEYBOARD_NAME
	default "SweepMX"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_SWEEPMX_LEFT || SHIELD_SWEEPMX_RIGHT

config ZMK_SPLIT
	default y

endif