// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
// #include "keymap_french.h"
#include "keycodes.h"
// #include "macros.dtsi"

// --------------------

// === Layers definitions ===
#define BASE 0
#define ACCNUM 1
#define SYMNAV 2
#define TRI 3
#define BLTH 4
#define FRE 5
// === Layer Keys ===
#define __TAB_1 &lt 1 __TAB__   // Tab or Layer 1 if hold
#define _BSPC_2 &lt 2 _BSPC__   // Backspace or Layer 2 if hold
// #define _BLTH_L &lt BLTH        // Bluetooth layer

// --------------------

// Home row mods macro
#define HRML(k1,k2,k3,k4,k5) &ht LGUI k1  &ht LALT k2  &ht LCTRL k3  &ht LSHFT k4  &ht RALT k5
#define HRMR(k1,k2,k3,k4,k5) &ht RALT k1  &ht RSHFT k2  &ht RCTRL k3  &ht LALT k4  &ht LGUI k5

// M_ACC_D(m_ecirc_min, _CIRCW_, ___E___)  // Macro pour ê

// --------------------

// === Macros Shorcuts===
#define __ZMK__ &zed_em_kay
#define _AGRAVM &m_agrav_maj
#define _EACUTM &m_eacut_maj
#define _EGRAVM &m_egrav_maj
#define _UGRAVM &m_ugrav_maj
#define _CCEDIM &m_ccedi_maj
#define _ECIRC_ &m_ecirc_min
#define _ECIRCM &m_ecirc_maj
#define _ETREM_ &m_etrem_min
#define _ETREMM &m_etrem_maj
#define _ITREM_ &m_itrem_min
#define _ITREMM &m_itrem_maj
#define _UTREM_ &m_utrem_min
#define _UTREMM &m_utrem_maj

// --------------------

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        
        // #include "macros.dtsi"

        macros {
            zed_em_kay: zed_em_kay {
                label = "ZM_zed_em_kay";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_press &kp LSHFT>
                    , <&macro_tap &kp Z &kp M &kp K>
                    , <&macro_release &kp LSHFT>
                    ;
            };

            m_agrav_maj: m_agrav_maj {
                label = "ZM_m_agrav_maj";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_tap _GRAVE_ _A_MAJ_>
                    ;
            };

            m_eacut_maj: m_eacut_maj {
                label = "ZM_m_eacut_maj";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <40>;
                tap-ms = <40>;
                bindings
                    = <&macro_press &kp LALT>
                    , <&macro_tap ___1___ ___4___ ___4___>
                    , <&macro_release &kp LALT>
                    ;
            };

            m_egrav_maj: m_egrav_maj {
                label = "ZM_m_egrav_maj";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <40>;
                tap-ms = <40>;
                bindings
                    = <&macro_press &kp LALT>
                    , <&macro_tap ___0___ ___2___ ___0___ ___0___>
                    , <&macro_release &kp LALT>
                    ;
            };

            // m_egrav_maj: m_egrav_maj {
            //     label = "ZM_m_egrav_maj";
            //     compatible = "zmk,behavior-macro";
            //     #binding-cells = <0>;
            //     bindings
            //         = <&macro_tap _GRAVE_>
            //         , <&macro_press &kp LSHFT>
            //         , <&macro_tap ___E___>
            //         , <&macro_release &kp LSHFT>
            //         ;
            // };

            m_ugrav_maj: m_ugrav_maj {
                label = "ZM_m_ugrav_maj";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <40>;
                tap-ms = <40>;
                bindings
                    = <&macro_press &kp LALT>
                    , <&macro_tap ___0___ ___2___ ___1___ ___7___>
                    , <&macro_release &kp LALT>
                    ;
            };

            m_ccedi_maj: m_ccedi_maj {
                label = "ZM_m_ccedi_maj";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <40>;
                tap-ms = <40>;
                bindings
                    = <&macro_press &kp LALT>
                    , <&macro_tap ___1___ ___2___ ___8___>
                    , <&macro_release &kp LALT>
                    ;
            };

            m_ecirc_min: m_ecirc_min {
                label = "ZM_m_ecirc_min";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_tap _CIRCW_ ___E___>
                    ;
            };

            m_ecirc_maj: m_ecirc_maj {
                label = "ZM_m_ecirc_maj";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_tap _CIRCW_ _E_MAJ_>
                    ;
            };

            m_etrem_min: m_etrem_min {
                label = "ZM_m_etrem_min";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_tap _TREMA_ ___E___>
                    ;
            };

            m_etrem_maj: m_etrem_maj {
                label = "ZM_m_etrem_maj";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_tap _TREMA_ _E_MAJ_>
                    ;
            };

            m_itrem_min: m_itrem_min {
                label = "ZM_m_itrem_min";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_tap _TREMA_ ___I___>
                    ;
            };

            m_itrem_maj: m_itrem_maj {
                label = "ZM_m_itrem_maj";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_tap _TREMA_ _I_MAJ_>
                    ;
            };

            m_utrem_min: m_utrem_min {
                label = "ZM_m_utrem_min";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_tap _TREMA_ ___U___>
                    ;
            };

            m_utrem_maj: m_utrem_maj {
                label = "ZM_m_utrem_maj";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_tap _TREMA_ _U_MAJ_>
                    ;
            };
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        // #include "combos.dtsi"

        compatible = "zmk,combos";

        #define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
        combo_##NAME { \
            bindings = <BINDINGS>; \
            key-positions = <KEYPOS>; \
            layers = <LAYERS>; \
        };

        /*                KEY POSITIONS
        ╭────────────────────╮ ╭────────────────────╮
        │  0   1   2   3   4 │ │  5   6   7   8   9 │
        │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
        │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
        ╰───────────╮ 30  31 │ │ 32  32 ╭───────────╯
                    ╰────────╯ ╰────────╯
        */

        // Layer ACCNUM
        COMBO(c_ecirc_min, &m_ecirc_min, 1 2, ACCNUM) // ê
        COMBO(c_ecirc_maj, &m_ecirc_maj, 11 12, ACCNUM) // Ê

        // Layer SYMNAV
        COMBO(c_prct, _PRCNT_, 0 10, SYMNAV) // %
        COMBO(c_doll, _DOLLAR, 1 11, SYMNAV) // $
        COMBO(c_livr, _LIVRE_, 2 12, SYMNAV) // £
        COMBO(c_euro, _EURO__, 3 13, SYMNAV) // €
        // COMBO(c_curr, _CURR__, 4 14, SYMNAV) // ¤
        COMBO(c_ens_vide, ---, 4 14, SYMNAV) // Ø
        COMBO(c_circ, _CIRC__, 10 20, SYMNAV) // ^
        COMBO(c_bslh, _BSLH__, 11 21, SYMNAV) // Backslash
        COMBO(c_tild, _TILDE_, 12 22, SYMNAV) // ~
        COMBO(c_arob, __AT___, 13 23, SYMNAV) // @
        COMBO(c_hash, _HASH__, 14 24, SYMNAV) // #

        // Bluetooth
        COMBO(c_blth, _BLTH_L, 21 22 30, -1) // Bluetooth
    };

    keymap {
        compatible = "zmk,keymap";

        // 0 - BASE : Base AZERTY layout
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  A       │  Z       │  E       │  R       │  T       │     │  Y       │  U       │  I       │  O       │  P       │
            ___A___    ___Z___    ___E___    ___R___    ___T___          ___Y___    ___U___    ___I___    ___O___    ___P___
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Q       │  S       │  D       │  F       │  G       │     │  H       │  J       │  K       │  L       │  M       │
       HRML(___Q___,   ___S___,   ___D___,   ___F___,   ___G___)    HRMR(___H___,   ___J___,   ___K___,   ___L___,   ___M___)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  W       │  X       │  C       │  V       │  B       │     │  N       │ , ?      │ ; .      │ : /      │ ! §      │
            ___W___    ___X___    ___C___    ___V___    ___B___          ___N___    _COMMA_    _SEMI__    _COLON_    _EXCL__
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  TAB  L1 │  SPACE   │     │  ENTER   │  BSPC L2 │
                                             __TAB_1    _SPACE_          _ENTER_    _BSPC_2
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
        //                                   [ACCNUM]                               [SYMNAV]
            >;
        };

        // 1 - ACCNUM : Accents and Numbers
        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  à    @  │  é    ~ ê│  è    `  │  ù    %  │  ç    ^  │     │  *       │  7       │  8       │  9       │  /       │
            _AGRAVE    _EACUTE    _EGRAVE    _UGRAVE    _CCEDIL          _N_MLT_    ___7___    ___8___    ___9___    _N_DVD_
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  À       │  É      Ê│  È       │  Ù       │  Ç       │     │  +       │  4       │  5       │  6       │  -       │
       HRML(_AGRAVM,   _EACUTM,   _EGRAVM,   _UGRAVM,   _CCEDIM)    HRMR(_N_PLS_,   ___4___,   ___5___,   ___6___,   _N_MNS_)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  ²       │  ë  (Ë)  │  ï  (Ï)  │  ü  (Ü)  │  ^  ¨     │     │  0       │  1       │  2       │  3       │  .       │
            _CARRE_    _ETREM_    _ITREM_    _UTREM_    _CIRCW_          ___0___    ___1___    ___2___    ___3___    _N_MNS_
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  HOLD    │  SPACE   │     │  ENTER   │  BSPC L3 │
                                             _______    _______          _______    _______
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
        //                                                                         [FUNCTIONS]
            >;
        };

        // 2 - SYMNAV : Symboles and Navigation
        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  `       │  "       │  '       │  _       │  |       │     │  PAGE UP │  HOME    │  UP      │  END     │  ESCAPE  │
            _GRAVE_    __DQT__    __SQT__    _UNDER_    _PIPE__         _PG_UP_    _HOME__    __UP___    __END__    __ESC__
        //├─── % ────┼─── $ ────┼─── £ ────┼─── € ────┼─── Ø ────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  <       │  [       │  {       │  (       │  &       │     │  PAGE DN │  LEFT    │  DOWN    │  RIGHT   │  TAB     │
       HRML(__LT___,   _LBKT__,   _LBRC__,   _LPAR__,   _AMPS__)         _PG_DN_    _LEFT__    _DOWN__    _RIGHT_    __TAB__
        //├─── ^ ────┼─── \ ────┼─── ~ ────┼─── @ ────┼─── # ────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  >       │  ]       │  }       │  )       │  =       │     │ CTL BSPC │  BSPC    │  INSERT  │  DELETE  │ CTL DEL  │
            __GT___    _RBKT__    _RBRC__    _RPAR__    _EQUAL_          _______    _BSPC__    __INS__    __DEL__    _CLCK__
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  TAB  L3 │  SPACE   │     │  ENTER   │  HOLD    │
                                             _______    _______          _______    _______
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
        //                                 [FUNCTIONS]
            >;
        };

        // 3 - FUNCTIONS : FN Keys and Settings
        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  ESCAPE  │  PRSCR   │  SCRLOCK │  PAUSE   │  BRI UP  │     │  VOL UP  │  F9      │  F10     │  F11     │  F12     │
            __ESC__    _PSCRN_    _SLCK__    _PSBRK_    _BRI_UP          _VOL_UP    __F9___    __F10__    __F11__    __F12__
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  TAB     │ PREVIOUS │ PLAY/PSE │  NEXT    │  C+A+S   │     │  MUTE    │  F5      │  F6      │  F7      │  F8      │
            __TAB__    _PREV__    __PP___    _NEXT__    __CAS__          _MUTE__    __F5___    __F6___    __F7___    __F8___
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  CAPSLK  │  REWIND  │ WIN LOCK │ FFORWARD │  BRI DN  │     │  VOL DN  │  F1      │  F2      │  F3      │  F4      │
            _CLCK__    __RW___    _WLOCK_    __FF___   _BRI_UP          _VOL_DN    __F1___    __F2___    __F3___    __F4___
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  HOLD    │  SPACE   │     │  ENTER   │  HOLD    │
                                             _______    _______          _______    _______
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
            >;
        };

        // 4 - BLUETOOTH : Bluetooth functions
        bluetooth_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  RESET   │          │          │ PROFIL 4 │ PROFIL 1 │     │          │          │          │          │  RESET   │
            _RESET_    XXXXXXX    XXXXXXX    _BT_P4_    _BT_P1_          XXXXXXX    XXXXXXX    XXXXXXX    XXXXXXX    _RESET_
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │ PROFIL 5 │ PROFIL 2 │     │          │          │          │          │BOOTLOADER│
            _BTLDR_    XXXXXXX    XXXXXXX    _BT_P5_    _BT_P2_          XXXXXXX    XXXXXXX    XXXXXXX    XXXXXXX    _BTLDR_
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  HOLD    │  HOLD    │ CLEAR BT │ PROFIL 3 │     │          │          │          │          │          │
            __ZMK__    _______    _______    _BT_CLR    _BT_P3_          XXXXXXX    XXXXXXX    XXXXXXX    XXXXXXX    __ZMK__
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  HOLD    │          │     │          │          │
                                             _______    XXXXXXX          XXXXXXX    XXXXXXX
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
            >;
        };


        // 5 - FRENCH : Layer with French Top Row and ISO Keys
        french_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  & 1     │  é 2  ~  │  " 3  #  │  ' 4  \{ │  ( 5  [  │     │  - 6  |  │  è 7  `  │  _ 8  \  │  ç 9  ^  │  à 0  @  │
            _AMPS__    _EACUTE    __DQT__    __SQT__    _LPAR__          _MINUS_    _EGRAVE    _UNDER_    _CCEDIL    _AGRAVE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  ²       │          │          │  = +  \} │  ) °  ]  │     │          │          │          │  ^ ¨      │ $ £  ¤   │
       HRML(_CARRE_,   _______,   _______,   _RPAR__,   _EQUAL_)     HRMR(_______,   _______,   _______,   _CIRCW_,   _DOLLAR)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  < >     │          │          │          │          │     │          │          │          │  ù %     │  * µ     │
            _______    _______    _______    _______    _______          _______    _______    _______    _UGRAVE    _ASTRK_
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  TAB     │  HOLD    │     │  HOLD    │  BKSPC   │
                                             _______    _______          _______    _______
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
            >;
        };
    };
};
