// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keymap_french.h"
#include "keycodes.h"

// --------------------

// === Layers definitions ===
#define BASE 0
#define SYMNUM 1
#define ACCNAV 2
#define FUNC 3
#define BLTH 4

// === Short ===
#define __TAB_1 &lt 1 __TAB__   // Tab or Layer 1 if hold
#define _BSPC_2 &lt 2 _BSPC__   // Backspace or Layer 2 if hold
#define _ENTR_3 &lt 2 _BSPC__   // Enter or Layer 3 if hold

// --------------------

// === Macros ===
// Home row mods macro
#define HRML(k1,k2,k3,k4,k5) &ht LGUI k1  &ht LALT k2  &ht LCTRL k3  &ht LSHFT k4  &ht K_CMENU k5
#define HRMR(k1,k2,k3,k4,k5) &ht RALT k1  &ht RSHFT k2  &ht RCTRL k3  &ht RALT k4  &ht LGUI k5

// --------------------

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // 0 : BASE
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  A       │  Z       │  E       │  R       │  T       │     │  Y       │  U       │  I       │  O       │  P       │
            ___A___    ___Z___    ___E___    ___R___    ___T___          ___Y___    ___U___    ___I___    ___O___    ___P___
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Q       │  S       │  D       │  F       │  G       │     │  H       │  J       │  K       │  L       │  M       │
       HRML(___Q___,   ___S___,   ___D___,   ___F___,   ___G___)    HRMR(___H___,   ___J___,   ___K___,   ___L___,   ___M___)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  W       │  X       │  C       │  V       │  B       │     │  N       │ , ?      │ ; .      │ : /      │ ! §      │
            ___W___    ___X___    ___C___    ___V___    ___B___          ___N___    _COMMA_    _SEMI__    _COLON_    _EXCL__
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  TAB  L1 │  SPACE   │     │ ENTER L3 │ BKSPC L2 │
                                             __TAB_1    _SPACE_          _ENTER_    _BSPC_2
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
            >;
        };

        // 1 : SYMNUM
        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  à    @  │  é    ~ ê│  è    `  │  ù    %  │  ç    ^  │     │  *       │  7       │  8       │  9       │  /       │
            _______    _______    _______    _______    _______          _N_MLT_    ___7___    ___8___    ___9___    _N_DVD_
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  À       │  É      Ê│  È       │  Ù       │  Ç       │     │  +       │  4       │  5       │  6       │  -       │
       HRML(_______,   _______,   _______,   _______,   _______)    HRMR(_N_PLS_,   ___4___,   ___5___,   ___6___,   _N_MNS_)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  ²       │  ë  (Ë)  │  ï  (Ï)  │  ü  (Ü)  │  ^  ¨     │     │  0       │  1       │  2       │  3       │  .       │
            _______    _______    _______    _______    _______          ___0___    ___1___    ___2___    ___3___    _N_MNS_
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  HOLD    │  SPACE   │     │ ENTER L3 │ BKSPC L2 │
                                             _______    _______          _______    _______
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
            >;
        };

        // 2 : NAV
        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  `       │  "       │  '       │  _       │  |       │     │  PAGE UP │  HOME    │  UP      │  END     │  INSERT  │
            _______    _______    _______    _______    _______          _PG_UP_    _HOME__    __UP___    __END__    __INS__
        //├─── % ────┼─── $ ────┼─── £ ────┼─── € ────┼─── Ø ────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  <       │  [       │  {       │  (       │  &       │     │  PAGE DN │  LEFT    │  DOWN    │  RIGHT   │  DELETE  │
       HRML(_______,   _______,   _______,   _______,   _______)         _PG_DN_    _LEFT__    _DOWN__    _RIGHT_    __DEL__
        //├─── ^ ────┼─── \ ────┼─── ~ ────┼─── @ ────┼─── # ────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  >       │  ]       │  }       │  )       │  =       │     │  ESCAPE  │  PRSCR   │  SCRLOCK │  PAUSE   │  CAPSLK  │
            _______    _______    _______    _______    _______          __ESC__    _PSCRN_    _SLCK__    _PSBRK_    _CLCK__
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  TAB  L1 │  SPACE   │     │  ENTER   │  HOLD    │
                                             _______    _______          _______    _______
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
            >;
        };

        // 3 : FUNC
        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │     │  VOL UP  │  F9      │  F10     │  F11     │  F12     │
            _______    _______    _______    _______    _______          _VOL_UP    __F9___    __F10__    __F11__    __F12__
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │     │  MUTE    │  F5      │  F6      │  F7      │  F8      │
            _______    _______    _______    _______    _______          _MUTE__    __F5___    __F6___    __F7___    __F8___
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │     │  VOL DN  │  F1      │  F2      │  F3      │  F4      │
             _______    _______    _______    _______    _______          _VOL_DN    __F1___    __F2___    __F3___    __F4___
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  HOLD    │  SPACE   │     │  ENTER   │  HOLD    │
                                             _______    _______          _______    _______
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
            >;
        };

        // 4 : BLTH
        bluetooth_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  RESET   │          │          │ PROFIL 4 │ PROFIL 1 │     │          │          │          │          │  RESET   │
            _RESET_    _______    _______    _BT_P4_    _BT_P1_          _______    _______    _______    _______    _RESET_
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │ PROFIL 5 │ PROFIL 2 │     │          │          │          │          │BOOTLOADER│
            _BTLDR_    _______    _______    _BT_P5_    _BT_P2_          _______    _______    _______    _______    _BTLDR_
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │ PROFIL 3 │     │          │          │          │          │          │
            _______    _______    _______    _BT_CLR    _BT_P3_          _______    _______    _______    _______    _______
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  HOLD    │  HOLD    │     │  ENTER   │  BKSPC   │
                                             _______    _______          _______    _______
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
            >;
        };


        // 5 : NAV
        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  & 1     │  é 2  ~  │  " 3  #  │  ' 4  {  │  ( 5  [  │     │  - 6  |  │  è 7  `  │  _ 8  \  │  ç 9  ^  │  à 0  @  │
            _AMPS__    _EACUTE    __DQT__    __SQT__    _LPAR__          _MINUS_    _EGRAVE    _UNDER_    _CCEDIL    _AGRAVE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  ²       │          │          │  = +  }  │  ) °  ]  │     │          │          │          │  ^ ¨      │ $ £  ¤   │
       HRML(_CARRE_,   _______,   _______,   _RPAR__,   _EQUAL_)     HRMR(_______,   _______,   _______,   _CIRCW_,   _DOLLAR)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  < >     │          │          │          │          │     │          │          │          │  ù %     │  * µ     │
            _______    _______    _______    _______    _______          _______    _______    _______    _UGRAVE    _ASTRK_
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  TAB     │  HOLD    │     │  HOLD    │  BKSPC   │
                                             _______    _______          _______    _______
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
            >;
        };


        // 1 : RIGHT
        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ INSERT   │  1       │  2       │  3       │          │   │ HOME     │ PAGE DN  │ PAGE UP  │ END      │  :       │
            &kp INS    &kp N1     &kp N2     &kp N3     &trans         &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp COLON
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ DELETE   │  4       │  5       │  6       │          │   │ LEFT     │ DOWN     │ UP       │ RIGHT    │  ;       │
            &kp DEL    &kp N4     &kp N5     &kp N6     &trans         &kp LARW   &kp DARW   &kp UARW   &kp RARW   &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ CAPS     │  7       │  8       │  9       │  0       │   │          │          │          │          │ ' "      │
           &caps_word  &kp N7     &kp N8     &kp N9     &kp N0         &trans     &trans     &trans     &trans     &kp SQT
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &kp ESC        &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        // 2 : LEFT
        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  [       │  {       │  }       │          │   │  ^       │  (       │  )       │  ]       │  ~       │
            &trans     &kp LBKT   &kp LBRC   &kp RBRC   &trans         &kp CARET  &kp LPAR   &kp RPAR   &kp RBKT   &kp TILDE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  !       │  @       │  #       │  $       │  %       │   │  *       │  -       │  =       │  \       │  `       │
            &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT      &kp ASTRK  &kp MINUS  &kp EQUAL  &kp BSLH   &kp GRAVE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │  &       │  _       │  +       │  │       │          │
            &trans     &trans     &trans     &trans     &trans         &kp AMPS   &kp UNDER  &kp PLUS   &kp PIPE   &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        // 3 : TRI
        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
            &reset     &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans      &reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
